.root {
    /* COLORS: -------------------------------------------------------------------------------- */
    /*-fx-background: #ca4e44;*/
    /* FONTS: --------------------------------------------------------------------------------- */
    /* : -------------------------------------------------------------------------------------- */
}


    /* UTILITIES: ----------------------------------------------------------------------------- */
.border_maker_blue, .border_maker {
    -fx-border-width: 1px;
}

.border_maker {
    -fx-border-color: #ca4e44;

}

.border_maker_blue {
    -fx-border-color: #74c7ec;

}

.catalogo  {

    -fx-background-color: #406a69;
}

    /* : ----------------------------------------------------------------------------- */

.main {
    -fx-background: #ffffff;
}