.root {
    /* COLORS: -------------------------------------------------------------------------------- */

    -fx-orange-color: #ca4e44

    /* FONTS: --------------------------------------------------------------------------------- */
    /* : -------------------------------------------------------------------------------------- */
}

.tab-pane {
    -fx-background-color: #1e1e2f;
    -fx-border-color: #444;
    -fx-border-width: 2;
    -fx-padding: 5;
}

/* Área de encabezado (barra de pestañas) */
.tab-pane .tab-header-area {
    -fx-background-color: #2e2e40;
}

/* Pestañas inactivas */
.tab-pane .tab {
    /*-fx-background-color: #3b3b50;
    -fx-padding: 10 15;
    -fx-background-insets: 0;
    -fx-border-color: transparent;*/
}

/* Pestaña activa */
.tab-pane .tab:selected {
    -fx-background-color: #007acc;
    -fx-text-fill: white;
}

/* Texto de las pestañas */
.tab-pane .tab .tab-label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

/* Botón de cierre de pestañas */
.tab-pane .tab .tab-close-button {
    -fx-background-color: transparent;
    -fx-padding: 2;
}

.tab-pane .tab:selected .tab-close-button {
    -fx-background-color: red;
}


